# dependencies
node_modules/
bun.lockb

# build output
.next/
out/
dist/
*.tsbuildinfo

# env & secrets
.env
.env.*
!.env.example

# logs & pids
*.log
*.pid

# local db artifacts
db/

# vercel
.vercel
